{% load static %}
<footer>
    <div class="container">
        <hr>
        <div class="row footerLinks">
            <div class="col-md-4">
                <h6>Helpful Links</h6>
                <p>My Account</p>
                <p>Events</p>
                <p>Trending Now</p>
                <p>Coming Soon</p>
                <p>New Arrivals</p>
            </div>
            <div class="col-md-4">
                <h6>Company</h6>
                <p>Who We Are</p>
                <p>Our Blog</p>
                <p>Theatres</p>
                <p>Contact Us</p>
                <p>Work With Us</p>
            </div>
            <div class="col-md-4">
                <h6>Legal</h6>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>Ad and Cookie Policy</p>
                <p>Testimonial Disclaimer</p>
                <p>Social Responsibility</p>
            </div>
        </div>
        <hr class="my-5 bg-light">
        <div class="row social-links justify-content-between">
            <div class="col-md-6">
                <h6>PlanetX</h6>
            </div>
            <div class="col-md-6">
                <div class="small">&copy; Planetx 2020</div>
            </div
        </div>
    </div>
</footer>